//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');

@import "common/variables.scss";
@import "common/mixins.scss";
@import "common/core.scss";
@import "open-sans.scss";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #f6f6f6;
}

a{
	transition: all .25s ease 0s;
    -ms-transition: all .25s ease 0s;
	-o-transition: all .25s ease 0s;
	-moz-transition: all .25s ease 0s;
	-webkit-transition: all .25s ease 0s;
}

.text-limit{
    white-space: nowrap !important;
    cursor:pointer;
 }

.vertical-middle{
    vertical-align: middle;
}

.password-check {
    span {
        width: 31.3%;
        height: 4px;
        margin: 8px 1% 0 1%;
        background: #ddd;
        float: left;
    }
}

table.table-vertical-align-middle td {
    vertical-align: middle !important;
}

footer {
    padding: 7px 0;
    color:#848484;
    font-weight:400;
    font-size:12px;
    position: fixed;
    bottom:0;
    width:100%;
    z-index:9999;
    @include bg-dark_grey();
}

.btn.btn-success.btn-wide{
    border-radius: 0;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 70px;
    line-height: 70px;
    padding: 0;
    outline:none;
}

.btn.btn-success{
    background-color: #2ba0b6;
    border-color: #2ba0b6;
}

.btn.btn-success:focus, .btn.btn-success:hover{
    background-color: #2ba0b6;
    border-color: #2ba0b6;
}

.main-content-wrapper h1 {
    @include font-helvatica();
    @include font-openSans();
    padding:12px 22px;
    font-size: 2em;
    color: #484848;
    font-weight: 100;
    text-align: left;
}

.main-content-wrapper {
    padding-bottom:30px;
    z-index: 1;
    position: relative;
}

.form-error {
    color: #de6b53;
    text-align: right;
    margin:0 0 5px 0;
}

.required-label {
    color: #de6b53;
    font-size: 17px
}

.password-note {
    margin:10px 0;
    font-size:12px;
    list-style-type: circle;
    padding:0 20px;
}

.has-error .form-meta,  .has-error .form-meta span {
    @include txt-red();
}

.input-group-btn .btn{
    padding-top:7px;
}

[ng-click]{
    cursor:pointer;
}

/* site css*/

ul {
    list-style-type: disc;
    list-style-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22…%229.5%22%20r%3D%222.5%22%20fill%3D%22%2300528c%22%2F%3E%0A%3C%2Fsvg%3E%0A);
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANCAIAAADuXjPfAAAABnRST…t9AAAAHklEQVR4AWP4jwrowWcI6oEgEBtIISNCfFT9mOYDACO/lbNIGC/yAAAAAElFTkSuQmCC) \9;
}

li {
    margin-bottom: 0.1em;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    background: none;
    font-weight: normal;
    margin: 0;
    overflow: hidden;
    padding-top: 0.5em;
    padding-bottom: 0.17em;
    border-bottom: 1px solid #a2a9b1;
}

.mw-body, .parsoid-body {
    padding: 1em;
    background-color: #ffffff;
    color: #222222;
    direction: ltr;
}

.mw-body {
    margin-left: 10em;
    border: 1px solid #a7d7f9;
    border-right-width: 0;
    margin-top: -1px;
}

.mw-body {
    margin-left: 11em;
    padding: 1.25em 1.5em 1.5em 1.5em;
    .firstHeading {
        overflow: visible;
    }
}

.mw-body h1, .mw-body-content h1 {
    font-size: 1.8em;
}

.mw-body h1, .mw-body-content h1, .mw-body-content h2 {
    font-family: 'Linux Libertine','Georgia','Times',serif;
    line-height: 1.3;
    margin-bottom: 0.25em;
    padding: 0;
}

.mw-body-content {
    position: relative;
    line-height: 1.6;
    font-size: 0.875em;
    z-index: 0;

    h2 {
        font-size: 1.5em;
        margin-top: 1em;
    }

}


#siteSub {
    display: inline;
    font-size: 92%;
    font-weight: normal;
}

.mw-content-ltr {
    direction: ltr;
}

.infobox {
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    text-align: left;
    font-size: 88%;
    line-height: 1.5em;
}

#toc, .toc, .mw-warning, .toccolours {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    padding: 5px;
    font-size: 95%;
}

#toc, .toc {
    display: table;
    zoom: 1;
    padding: 7px;
}

div.tright, div.floatright, table.floatright {
    clear: right;
    float: right;
}

div.thumb {
    margin-bottom: 0.5em;
    width: auto;
    background-color: transparent;
}

div.tright {
    margin: 0.5em 0 1.3em 1.4em;
}

div.thumb {
    border: none;
}

div.tright {
    border: none;
    margin: 0.5em 0 0.8em 1.4em;
}

th.summary{
    background-color: #B0C4DE;
    text-align: center;
    vertical-align: middle;
    font-size: 110%;
}

div#mw-panel {
    font-size: inherit;
    position: absolute;
    top: 0;
    width: 10em;
    left: 0;

    #p-logo + div.portal {
        background-image: none;
        margin-top: 1em;
    }

    div.portal {
        margin: 0 0.6em 0 0.7em;
        padding: 0.25em 0;
        direction: ltr;
        background-position: top left;
        background-repeat: no-repeat;
        h3 {
            font-size: 0.75em;
            color: #444444;
            font-weight: normal;
            margin: 0.5em 0 0 0.66666667em;
            padding: 0.25em 0;
            cursor: default;
            border: 0;
        }

        div.body {
            margin-left: 0.5em;
            padding-top: 0;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAABCAAAAAAphRnkAAAAJ0lEQVQIW7XFsQEAIAyAMPD/b7uLWz8wS5youFW1UREfiIpH1Q2VBz7fGPS1dOGeAAAAAElFTkSuQmCC);
            background-repeat: no-repeat;
            ul {
                list-style-type: none;
                list-style-image: none;
                margin: 0;
                padding: 0.3em 0 0 0;
                li {
                    line-height: 1.125em;
                    margin: 0;
                    padding: 0.25em 0;
                    font-size: 0.75em;
                    word-wrap: break-word;
                    a {
                        color: #0645ad;
                    }
                }
            }
        }
    }
}


@import "common/responsive.scss";