//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');

@import "common/variables.scss";
@import "common/mixins.scss";
@import "common/core.scss";
@import "open-sans.scss";


body{
    min-height: 100vh;
    @include font-openSans();
    @include font-helvatica();
    @include bg-light_grey();
}

a{
	transition: all .25s ease 0s;
    -ms-transition: all .25s ease 0s;
	-o-transition: all .25s ease 0s;
	-moz-transition: all .25s ease 0s;
	-webkit-transition: all .25s ease 0s;
}

.top-menu{
    @include bg-dark_grey();
    border:none;
    z-index: 1000;
    @include border-radius(0);
    min-height: 66px;
    .leftSideBtn {
        @include txt-white();
        text-decoration:none;
        padding: 23px 10px 17px 10px;
        cursor:pointer;
        font-size:23px;
        display: block;
        overflow: hidden;

        &.active{
            display: none;

        }
    }
    .logo-panel{
        float:left;
        padding:17px 0 17px 15px;
        font-size:23px;
        vertical-align:middle;
    }
    .breadcrumbs{
        float:left;
        margin: 13px 10px 0 15px;
        padding: 10px 15px 10px 15px;
        background-color: transparent;
        > .active {
            @include txt-white();
        }
        a{
            @include txt-white();
            text-decoration: underline;
        }
        ul,ol{
            list-style: none;
            padding-left: 0;
            float: left;
            margin-left: 5px;
            margin-bottom: 0;
            li{
                &:first-child{
                    border-left:1px solid $grey;
                }
                padding: 0 0 0 15px;
                line-height:normal;
                float:left;
                @include txt-white();
                &:after{
                    font-family:"FontAwesome";
                    content:"\f105";
                    font-size: 21px;
                    padding-left: 15px;
                    display: inline-block;
                }
                a{
                    @include txt-white();
                    text-decoration: underline;
                    font-size: 18px;
                    letter-spacing: -0.25px;
                    font-weight: 100;
                } 
                &:last-child{
                    &:after{
                        content:" ";
                    }
                }
            }
            li.active {
                @include txt-white();
                a{
                    @include txt-white();
                    font-weight:600;
                }
            }
        }
    }
    .menu{
        float:right;
        ul{
            list-style:none;
            padding-left:0;
            li{
                float:left;
                padding-left: 0;
                float: left;
                margin-bottom: 0;
                a{
                    @include txt-grey();
                    padding: 18px;
                    display: inline-block;
                    font-size: 21px;
                    &:hover{
                        @include bg-blue();
                        @include txt-white();
                    }
                }
            }
        }
    }
    .user-account{
        float:right;
        letter-spacing:-0.3px;
        font-weight:100;
        padding: 17px 15px 17px 30px;
        span{
            @include txt-white();
            font-size:20px;
            letter-spacing: -0.6px;
            padding-right: 5px;
        }
        a{
            @include txt-grey();
            font-size:15px;
            text-decoration:none;
        }
    }
}
body > .content{
    position:relative;
    min-height:765px;
}

/* override bootstrap dropdown menu z-index */
.dropdown-menu {
    z-index: 9999;
}

.user-menu{
    position:relative;
    cursor:pointer;
    float: right;
    .user-name{
        padding: 19px 20px;
        @include txt-white();
        text-decoration:none;
        display: block;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: -0.4px;
        background-color:#3e3e3e;
        .fa-user{
            @include bg-white();
            @include txt-grey();
            border-radius: 100%;
            width: 28px;
            height: 28px;
            margin-right: 5px;
            text-align: center;
            line-height: 28px;
        }
        .fa-angle-down{
            font-size: 33px;
            line-height: 25px;
        }
        &:hover{
            background-color:#313131
        }
    }
    .dropdown-menu{
        width: 100%;
        @include border-radius(0);
        margin: 0;
        border: none;
        padding: 0;
        a{
            padding: 15px;
        }
    }
}


.left-sidenav{
    @include box-shadow(2px, 0px, 5px, rgba(0, 0, 0, 0.10));
    height: 100%;
    width: 0;
    z-index: 999;
    @include bg-white();
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    .menu-title{
        @include txt-dark_grey();
        @include bg-light_grey();
        padding: 21px 20px;
        font-size: 17px;
        font-weight: 700;
        letter-spacing:-0.5px;
        clear:both;
    }
    .menu{
        height:100%;
        .leftSideCloseBtn {
            color: #636363!important;
            text-decoration: none;
            padding: 0 10px 0 10px;
            cursor: pointer;
            font-size: 23px;
            display: block;
            overflow: hidden;
            font-weight: 500;
            .menu-close {
                font-size:14px;
                padding:4px 0 0 0;
            }
        }
        ul{
            list-style: none;
            padding-left: 0;
            width: 100%;
            float: left;
            margin-bottom:20px;
            li{
                position:relative;
                a{
                    @include txt-dark_grey();
                    text-decoration:none;
                    width: 100%;
                    float: left;
                    padding: 8px 20px;
                    &:hover{
                        @include bg-blue();
                        @include txt-white();
                    }
                }
            }
            li.active{
                a{
                    @include bg-blue();
                    @include txt-white();
                }
            }
        }
    }
    .search{
        padding:15px;
        .input-group-addon{ 
            @include bg-blue();
            @include txt-white();
            @include border-radius(0);
            border: 1px solid $blue;
        }
        .form-control {
            height:40px;
            font-size: 14px;
            border: 1px solid $forms_border;
            @include border-radius(0);
            box-shadow:none;
        }
        input{
        }
        select{
            margin-bottom:15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .select{
            position:relative;
            &:after {
                font-family: "FontAwesome";
                content: "\f107";
                padding: 0;
                position: absolute;
                right: 6px;
                top: 0;
                z-index: 1;
                text-align: center;
                width: 10%;
                height: 100%;
                pointer-events: none;
                box-sizing: border-box;
                font-size: 27px;  
            }
        }
    }
}

.bgActive{
    background:#000;
}

.search-box{
    position: absolute;
    z-index: 1001;
    width: 560px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 87px;
    .form-group {
        width: 560px;
        margin: auto;
        opacity: 0.55;
        .input-group{
            @include box-shadow(0px, 3px, 5px, rgba(0, 0, 0, 0.22));
            border:1px solid #c4c4c4;
            input{
                @include border-radius(0px);
                height:55px;
                border: none;
                font-size: 18px;
                font-weight: 300;
                letter-spacing: -0.3px;
            }
            ::-webkit-input-placeholder {color: rgba(0, 0, 0, 0.22);}
            :-moz-placeholder {color: rgba(0, 0, 0, 0.22);}
            ::-moz-placeholder {color: rgba(0, 0, 0, 0.22);}
            :-ms-input-placeholder {color: rgba(0, 0, 0, 0.22);}

            .input-group-addon{
                @include border-radius(0px);
                background-color:$white;
                padding: 2px 20px;
                border:none;
                font-size: 25px;
                color: rgba(0, 0, 0, 0.22);
            }
        }
    } 
}

.left-sidenav.active-menu{
    width:300px;
    z-index: 999;
}
.pagination-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.pagination > li > a, 
.pagination > li > span {
    color: #9d9d9d;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
    background-color: #9d9d9d;
    border-color: #9d9d9d;
}

.sidenav-content.active-menu{
    transition: margin-left .3s;
    margin-left:300px;
}
.header .pull-none.menu li{
    display:inline;
} 
.modal-header, .modal-body, .modal-footer {
    padding: 15px 20px;
}
.text-limit{
    white-space: nowrap !important;
    cursor:pointer;
 }

.vertical-middle{
    vertical-align: middle;
}

.selected-item-panel{
    &:before{
        content: " ";
        position: absolute;
        height: 100%;
        left: 0;
        top: -52px;
        border-top: 90px solid transparent;
        border-bottom: 90px solid transparent;
        border-left: 95px solid $blue;
        z-index:1;
    }
    &:after{
        content: " ";
        background-color: $grey;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .row > div{
        z-index:1;
    }
    .title{
        font-weight:bold;
    }
    .content{
        font-weight:400;
    }
    .icon i{
        color: $blue;
        margin-top: 1px;
        background-color: $white;
        border-radius: 100%;
        width: 37px;
        height: 37px;
        text-align: center;
        line-height: 37px;
        font-size: 23px;
    }
}

.scroll-select {
    .ui-select-multiple.ui-select-bootstrap {
        overflow-y: auto;
        height:150px;
    }
}

.form-role {
    button.btn {
        margin: 0 3px 3px 0;
    }
}

.form-role {
    .location-scroll {
        overflow-y: auto;
        max-height:90px;
            span {
                opacity: .2;
            }
    }
}

.password-check {
    span {
        width: 31.3%;
        height: 4px;
        margin: 8px 1% 0 1%;
        background: #ddd;
        float: left;
    }
}

.panel-no-padding .panel-collapse .panel-body {
    padding: 0;
}

.panel-no-padding .panel-collapse .panel-body .list-group {
    margin-bottom: 0;
}

.panel-no-padding .panel-collapse .panel-body .list-group .list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-radius: 0;
}

table.table-vertical-align-middle td {
    vertical-align: middle !important;
}

footer {
    padding: 7px 0;
    color:#848484;
    font-weight:400;
    font-size:12px;
    position: fixed;
    bottom:0;
    width:100%;
    z-index:9999;
    @include bg-dark_grey();
}

.btn.btn-success.btn-wide{
    border-radius: 0;
    margin: 0 auto;
    display: block;
    width: 200px;
    height: 70px;
    line-height: 70px;
    padding: 0;
    outline:none;
}

.btn.btn-success{
    background-color: #2ba0b6;
    border-color: #2ba0b6;
}

.btn.btn-success:focus, .btn.btn-success:hover{
    background-color: #2ba0b6;
    border-color: #2ba0b6;
}

.main-content-wrapper h1 {
    @include font-helvatica();
    @include font-openSans();
    padding:12px 22px;
    font-size: 2em;
    color: #484848;
    font-weight: 100;
    text-align: left;
}

.main-content-wrapper {
    padding-bottom:30px;
    z-index: 1;
    position: relative;
}

.panel-blue {
    border-color: #48bdd8;
    .panel-heading {
        border-color: #48bdd8;
        color: white;
        background-color: #48bdd8;
    }
    a {
        color: #48bdd8;
        &:hover{
            color: #7a80f0;
        }
    }
    .box-icon {
        width:67px;
        height:77px;
        background: url("../img/icons/dashboard-icon.png") left 10px no-repeat;
        margin-top: 20px;
        float: right;
    }
}


.panel-green {
    border-color: #48d8d3;
    .panel-heading {
        border-color: #48d8d3;
        color: white;
        background-color: #48d8d3;
    }
    a {
        color: #48d8d3;
        &:hover {
            color: #48d8d3;
        }
    }
    .box-icon {
        width:67px;
        height:77px;
        background: url("../img/icons/dashboard-icon.png") left -73px no-repeat;
        margin-top: 20px;
        float: right;
    }
}

.panel-purple {
    border-color: #7a80f0;
    .panel-heading {
        border-color: #7a80f0;
        color: white;
        background-color: #7a80f0;
    }
    a {
        color: #7a80f0;
        &:hover {
            color: #7a80f0;
        }
    }
    .box-icon {
        width:67px;
        height:77px;
        background: url("../img/icons/dashboard-icon.png") left -150px no-repeat;
        margin-top: 20px;
        float: right;
    }
}

.panel-darkblue {
    border-color: #316bc2;
    .panel-heading {
        border-color: #316bc2;
        color: white;
        background-color: #316bc2;
    }
    a {
        color: #316bc2;
        &:hover{
            color: #7a80f0;
        }
    }
    .box-icon {
        width:67px;
        height:77px;
        background: url("../img/icons/dashboard-icon.png") left -238px no-repeat;
        margin-top: 20px;
        float: right;
    }
}


.box-list {
    .panel-heading {
        background: #fdfdfd;
        border-color: #eee;
        h4 {
            color: #48bdd8;
            font-size: 1.125em;
            font-weight: 600;
            overflow: hidden;
            margin: 0;
            line-height: 38px;
            font-weight: 700;
            .icon {
                width:35px;
                height:35px;
                display: block;
                float: left;
                margin-right: 10px;
            }
        }
    }
    .panel-body {
        /*
        padding-left:30px;
        padding-right:30px;
        */
    }
    .list-group-item {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: row;
        border:none;
        border-bottom:1px solid #ddd;
        margin-bottom:0;
        padding-left:0;
        padding-right: 0;
        &:last-child {
            border-bottom:none
        }
    }
    .btn-list {
        margin-left: auto;
        .btn {
            border-radius: 50%;
            width: 34px;
            height: 34px;
            line-height: 34px;
            padding: 0;
            margin-right: 10px;
            margin-left: auto;
        }
    }
}

.box-list{
    &.box-list-blue {
        h4 {
            color: #48bdd8;
            .icon {
                background: url("../img/icons/dashboard-icon.png") left top no-repeat;
                background-size:100%;
            }
        }
    }
    &.box-list-green {
        h4 {
            color: #48d8d3;
            .icon {
                background: url("../img/icons/dashboard-icon.png") left -42px no-repeat;
                background-size:100%;
            }
        }
    }
    &.box-list-purple {
        h4 {
            color: #7a80f0;
            .icon {
                background: url("../img/icons/dashboard-icon.png") left -83px no-repeat;
                background-size:100%;
            }
        }
    }
    &.box-list-darkblue {
        h4 {
            color: #316bc2;
            .icon {
                background: url("../img/icons/dashboard-icon.png") left -130px no-repeat;
                background-size:100%;
            }
        }
    }
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.form-error {
    color: #de6b53;
    text-align: right;
    margin:0 0 5px 0;
}

.required-label {
    color: #de6b53;
    font-size: 17px
}

.width-full {
    .carousel-inner {
        width: 100%;
        margin: 0 auto !important;
    }
    .carousel-inner > .item {margin:0;}
}

.dropdown {
    z-index:999;
}

.modal-body .dropdown {
    z-index:inherit;
}

.password-note {
    margin:10px 0;
    font-size:12px;
    list-style-type: circle;
    padding:0 20px;
}

nav .dropdown {
    z-index:9999;
}

.has-error .form-meta,  .has-error .form-meta span {
    @include txt-red();
}
.input-group-btn .btn{
    padding-top:7px;
}

[ng-click]{
    cursor:pointer;
}

@import "common/responsive.scss";