<div class="registration registration--animation">
    <form role="form" novalidate name="form" class="form" ng-submit="vm.changePassword(form)">
        <!-- Fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" type="password" name="fakeusernameremembered"/>

        <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.$submitted || form.password.$dirty)}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" id="password" name="password" placeholder="Yeni Şifre"  class="form-control" required minlength="8" maxlength="20" ng-model="vm.password.body.newPassword" ng-change="vm.validationInputPwdText(vm.newPassword)" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/">
            </div>

            <div class="form-meta" ng-show="(form.$submitted || form.password.$dirty) && (form.password.$error.required || form.password.$error.maxlength || form.password.$error.minlength || form.password.$error.pattern)">
                <span ng-show="form.password.$error.required">Şifre gerekli.</span>
                <span ng-show="form.password.$error.maxlength">Şifre çok uzun.</span>
                <span ng-show="form.password.$error.pattern">Geçersiz şifre.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': form.passwordConfirm.$invalid && (form.$submitted || form.passwordConfirm.$dirty)}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Yeni Şifre Tekrar"  class="form-control" ng-pattern="vm.password.body.newPassword"  required maxlength="20" ng-model="vm.password.body.newPasswordReTyped">
            </div>

            <div class="form-meta" ng-show="(form.$submitted || form.passwordConfirm.$dirty) && (form.passwordConfirm.$error.required || form.passwordConfirm.$error.maxlength || form.passwordConfirm.$error.pattern)">
                <span ng-show="form.passwordConfirm.$error.required">Şifre tekrar gerekli.</span>
                <span ng-show="form.passwordConfirm.$error.maxlength">Şifre tekrar çok uzun.</span>
                <span ng-show="form.passwordConfirm.$error.pattern">Şifreler uyuşmuyor.</span>
            </div>

            <div class="clearfix"></div>
            <ul class="password-note">
                <li>En az 8 karakterden oluşmalıdır.</li>
                <li>Harf, rakam ve özel karakterler içermelidir.</li>
                <li>Büyük ve küçük harfler bir arada kullanılmalıdır.</li>
            </ul>
        </div>

        <div class="form-group clearfix">
            <button loading-button type="submit" class="button--login btn btn-primary pull-right" text="'Kaydet'" loader="vm.loader"></button>
        </div>
    </form>

</div>