<div class="registration registration--animation">

    <form role="form" novalidate name="form" class="form" ng-submit="vm.signup(form)">
        <!-- Fake fields are a workaround for chrome autofill getting the wrong fields -->
        <input style="display:none" type="email" name="fakeusernameremembered"/>
        <input style="display:none" type="password" name="fakepasswordremembered"/>

        <div class="form-group" ng-class="{'has-error': form.name.$invalid && (form.$submitted || form.name.$dirty)}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                <input type="text" name="name" placeholder="Name" class="form__input form-control" required ng-model="vm.user.name">
            </div>
            <div class="form__meta" ng-show="form.$submitted || form.name.$dirty">
                <span id="fullName-required-error" ng-show="form.name.$error.required">Name is required.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': (form.email.$invalid && (form.$submitted || form.email.$dirty)) || vm.errors.email}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></span>
                <input type="email" name="email" placeholder="Email" class="form__input form-control"
                   autocomplete="off"
                   required
                   ng-change="vm.resetErrors()"
                   ng-model="vm.user.email">
            </div>
            <div class="form__meta" ng-show="form.$submitted || form.email.$dirty">
                <span id="email-required-error" ng-show="form.email.$error.required">Email is required.</span>
                <span id="email-format-error" ng-show="form.email.$error.email">Invalid email format.</span>
                <span id="email-unique-error" ng-show="vm.errors.email">Email already exists.</span>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': form.password.$invalid && (form.$submitted || form.password.$dirty)}">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                <input type="password" name="password" placeholder="Password" class="form__input form-control" autocomplete="off" required minlength="6" maxlength="15" ng-model="vm.user.password">
            </div>
            <div class="form__meta" ng-show="form.$submitted || form.password.$dirty">
                <span id="password-required-error" ng-show="form.password.$error.required">Password is required.</span>
                <span id="password-minLength-error" ng-show="form.password.$error.minlength">Password should be at least 6 characters for your security.</span>
                <span id="password-maxLength-error" ng-show="form.password.$error.maxlength">Password is too long.</span>
            </div>
        </div>
        <div class="form__group clearfix">
            <button loading-button type="submit" class="button--login btn btn-default pull-right" text="'Sign Up'" loader="vm.loader"></button>
        </div>
    </form>
    <div class="registration__footer mt-20">
        <a href="/login">Login</a>
    </div>
</div>